td.title1{font-family: Verdana; font-size: 18; font-weight: bold; color: white;text-align: center;}
td.title2{font-family: Verdana; font-size: 14; color: white;text-align: center;}

#chromemenu{
}

#chromemenu:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

#chromemenu ul{
border: 1px solid #BBB;
width: 100%;
background: url(chromebg.gif) center center repeat-x; /*Theme Change here*/
margin-left: 0;
padding-left: 0;
margin: 0;
float: left;
font: bold 12px Verdana;
}


#chromemenu ul li{
display: inline;
}


#chromemenu ul li a{
float: left;
color: #006699;
font-weight: bold;
padding: 6px 12px 6px 7px;
text-decoration: none;
background: url(divider.gif) center right no-repeat; /*Theme Change here*/
}

#chromemenu ul li a:hover{
color: #006666;
}

#chromemenu ul li a[onMouseover]:after{ /*HTML to indicate drop down link*/
content: "";
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position: absolute;
top: 0;
border: 2px solid #BBB; /*Theme Change here*/
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
background-color: white;
width: 210px;
visibility: hidden;
z-index: 500000000;

}

.dropmenudiv a{
position: relative;
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*Theme Change here*/
padding: 1px 0;
text-decoration: none;
font-weight: bold;
color: #006666;

}

.dropmenudiv a:hover{ /*Theme Change here*/
position: relative;
background-color: #F0F0F0;

}